body {
	background-color: #000000;
	color: #00aa00;
	font-family: monospace;font-size: 2em;
}
body * {
	background-color: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

input.text-number {
	margin: 0.5em;
	padding: 0;
	min-width: 4ch;
	color: #00dd00;
	background-color: #000000;
	border: none;
	letter-spacing: 0;
}

input:focus, button:focus {
	outline: none;
}

input[type='submit'], button {
	display: inline-block;
	margin: 1em;
	border: ridge 5px red;
	color: red;
}
input[type='submit']:active, button:active {
	border-style: groove;
}

span.prompt {
	color: #00dd00;
	font-style: italic;
}

div#quotebag-fetch {
	color: #00d6d6;
	line-spacing: 0.25em;
	padding: 2.5em;
	
}